/* evan.systems */

@import url('https://fonts.googleapis.com/css2?family=Bungee&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Roboto+Mono&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Oswald&family=Roboto+Mono&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Oswald&family=Roboto+Mono&family=Source+Code+Pro&family=Ubuntu+Mono:wght@700&display=swap');

body {
    background-color: #1c1c1c;
}

h1 {
    color: #0091ff;
    font-family: 'Ubuntu Mono', monospace;
}

#terminal {
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

#updates {
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.amonguscum {
    color: #0091ff;
}

a {
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
    color: #8ceaff;
}

.aa:hover {
    background-color: #8ceaff;
    color: black;

}

center {
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
    color: #11ff00;
    position: relative;
    top: 00px;
}


.poop:link {
    text-decoration: none;
    color: white;
    float: right;
  }
  
  .poop:visited {
    text-decoration: none;
    float: right;
  }
  
  .poop:hover {
    text-decoration: none;
    color: red;
    transition-duration: 0.5s;
    float: right;
  }
  
  a:active {
    text-decoration: none;
  }

  .ws {
    white-space: pre-wrap;
}

.marg {
    margin-bottom: 0.5rem;
}
    
    
.pp {
  color: #8ceaff;
}
