@import url('https://fonts.googleapis.com/css2?family=Montserrat&amp;display=swap');


html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://cdn.dribbble.com/users/14275/screenshots/2751654/dribbble-particle-wave.gif');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  color: #fff;
}

h1 {
    font-size: 45px;
    background: -webkit-linear-gradient(0deg, #37B1DA, #C948CD, #d6e194);
    background-size: 150% 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    animation: change 5s ease-in-out infinite;
}

#content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 100%;
}

#typing {
  border-right: 0.08rem solid #fff;
  padding-right: 2px;
  animation: blink 0.6s infinite;
}

.a {
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 24px;
  text-decoration: none;
  color: #fff;
  padding: 15px 32px;
  transition-duration: 0.5s;
}

.a:hover {
  background-color: #fff;
  color: #000;
}

@keyframes blink {
  0% {
    border-right: 0.08rem solid rgba(255, 255, 255, 1);
  }
  100% {
    border-right: 0.08rem solid rgba(255, 255, 255, 0.2);
  }
}


@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient( #000000 20%, #000000 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
.glitch {
  text-align: center;
position: relative;
color: white;
font-size: 4em;
letter-spacing: 0.2em;
/* Animation provies a slight random skew. Check bottom of doc
for more information on how to random skew. */
animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
content: attr(data-text);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
left: 2px;
text-shadow: -2px 0 #ff00c1;
/* Creates an initial clip for our glitch. This works in
a typical top,right,bottom,left fashion and creates a mask
to only show a certain part of the glitch at a time. */
clip: rect(44px, 450px, 56px, 0);
/* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
with an alternating animation to keep things fresh. */
animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
content: attr(data-text);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
left: -2px;
text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
0% {
  clip: rect(89px, 9999px, 38px, 0);
  transform: skew(0.89deg);
}
5% {
  clip: rect(14px, 9999px, 25px, 0);
  transform: skew(0.12deg);
}
10% {
  clip: rect(17px, 9999px, 15px, 0);
  transform: skew(0.17deg);
}
15% {
  clip: rect(23px, 9999px, 53px, 0);
  transform: skew(0.76deg);
}
20% {
  clip: rect(63px, 9999px, 72px, 0);
  transform: skew(0.09deg);
}
25% {
  clip: rect(62px, 9999px, 36px, 0);
  transform: skew(0.4deg);
}
30% {
  clip: rect(1px, 9999px, 46px, 0);
  transform: skew(0.02deg);
}
35% {
  clip: rect(53px, 9999px, 64px, 0);
  transform: skew(0.49deg);
}
40% {
  clip: rect(24px, 9999px, 21px, 0);
  transform: skew(0.33deg);
}
45% {
  clip: rect(72px, 9999px, 6px, 0);
  transform: skew(0.07deg);
}
50% {
  clip: rect(47px, 9999px, 61px, 0);
  transform: skew(0.48deg);
}
55% {
  clip: rect(65px, 9999px, 39px, 0);
  transform: skew(0.58deg);
}
60% {
  clip: rect(80px, 9999px, 71px, 0);
  transform: skew(0.25deg);
}
65% {
  clip: rect(94px, 9999px, 76px, 0);
  transform: skew(0.95deg);
}
70% {
  clip: rect(77px, 9999px, 32px, 0);
  transform: skew(0.56deg);
}
75% {
  clip: rect(13px, 9999px, 43px, 0);
  transform: skew(0.93deg);
}
80% {
  clip: rect(73px, 9999px, 16px, 0);
  transform: skew(0.59deg);
}
85% {
  clip: rect(27px, 9999px, 98px, 0);
  transform: skew(0.1deg);
}
90% {
  clip: rect(80px, 9999px, 55px, 0);
  transform: skew(0.17deg);
}
95% {
  clip: rect(19px, 9999px, 61px, 0);
  transform: skew(0.1deg);
}
100% {
  clip: rect(100px, 9999px, 88px, 0);
  transform: skew(0.81deg);
}
}
@keyframes glitch-anim2 {
0% {
  clip: rect(68px, 9999px, 68px, 0);
  transform: skew(0.29deg);
}
5% {
  clip: rect(80px, 9999px, 5px, 0);
  transform: skew(0.79deg);
}
10% {
  clip: rect(14px, 9999px, 3px, 0);
  transform: skew(0.8deg);
}
15% {
  clip: rect(71px, 9999px, 79px, 0);
  transform: skew(0.68deg);
}
20% {
  clip: rect(48px, 9999px, 14px, 0);
  transform: skew(0.64deg);
}
25% {
  clip: rect(50px, 9999px, 53px, 0);
  transform: skew(0.16deg);
}
30% {
  clip: rect(51px, 9999px, 9px, 0);
  transform: skew(0.27deg);
}
35% {
  clip: rect(63px, 9999px, 55px, 0);
  transform: skew(0.18deg);
}
40% {
  clip: rect(18px, 9999px, 94px, 0);
  transform: skew(0.7deg);
}
45% {
  clip: rect(18px, 9999px, 15px, 0);
  transform: skew(0.98deg);
}
50% {
  clip: rect(9px, 9999px, 62px, 0);
  transform: skew(0.46deg);
}
55% {
  clip: rect(28px, 9999px, 28px, 0);
  transform: skew(0.33deg);
}
60% {
  clip: rect(85px, 9999px, 27px, 0);
  transform: skew(0.91deg);
}
65% {
  clip: rect(81px, 9999px, 21px, 0);
  transform: skew(0.62deg);
}
70% {
  clip: rect(18px, 9999px, 68px, 0);
  transform: skew(0.35deg);
}
75% {
  clip: rect(85px, 9999px, 1px, 0);
  transform: skew(0.8deg);
}
80% {
  clip: rect(41px, 9999px, 82px, 0);
  transform: skew(0.62deg);
}
85% {
  clip: rect(94px, 9999px, 57px, 0);
  transform: skew(0.41deg);
}
90% {
  clip: rect(24px, 9999px, 49px, 0);
  transform: skew(0.24deg);
}
95% {
  clip: rect(96px, 9999px, 58px, 0);
  transform: skew(0.99deg);
}
100% {
  clip: rect(93px, 9999px, 48px, 0);
  transform: skew(0.91deg);
}
}
@keyframes glitch-skew {
0% {
  transform: skew(0deg);
}
10% {
  transform: skew(-2deg);
}
20% {
  transform: skew(3deg);
}
30% {
  transform: skew(-4deg);
}
40% {
  transform: skew(-3deg);
}
50% {
  transform: skew(-3deg);
}
60% {
  transform: skew(-3deg);
}
70% {
  transform: skew(5deg);
}
80% {
  transform: skew(1deg);
}
90% {
  transform: skew(5deg);
}
100% {
  transform: skew(-3deg);
}
}
